body {
  background-image: url("../images/astronomie.jpg");
  background-size: cover;

  color: beige;
}

header, section {
  width: calc(100% - 40px);
  margin: 20px;
}

header h1 {
  border-bottom: 1px solid beige;
}

#menu {
  margin: 0 20px;
  padding: 5px 0;

  border-top: 1px solid beige;
  border-bottom: 1px solid beige;
}

#menu li {
  text-transform: uppercase;
  list-style-type: none;
  margin-bottom: 0;
  text-align: center;
}

#menu li:hover {
  color: gray;
}

#contenu {
  border: 1px solid white;
  text-align: center;
}

article {
  border: 1px solid #AAD695;
}

footer {
  background-color: rgba(100, 100, 100, 0.5);
  height: 50px;
}
